!!!
%html{ lang: I18n.locale.to_s }
	%head
		%meta{ charset: 'utf-8' }
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' }
		%title= (yield :title) + (content_for?(:title) ? (_!' | ') : '') + (_!'Bike Collective Network')
		%meta{ name: 'description', content: (yield_or_default :description, I18n.t('page_descriptions.home')) }
		= csrf_meta_tags
		= inject_css!
		- (@stylesheets || []).each do |css|
			= inject_css! css
		%link{ href: asset_path('favicon.ico'), rel: 'shortcut icon', type: 'image/x-icon' }
		%link{ href: asset_path('favicon.ico'), rel: 'icon', type: 'image/x-icon' }
		%link{ href: asset_path('apple-touch-icon.png'), rel: 'apple-touch-icon' }
		%link{ href: asset_path('apple-touch-icon-72x72.png'), rel: 'apple-touch-icon', sizes: '72x72' }
		%link{ href: asset_path('apple-touch-icon-114x114.png'), rel: 'apple-touch-icon', sizes: '114x114' }
		%link{ href: asset_path('apple-touch-icon-144x144.png'), rel: 'apple-touch-icon', sizes: '144x144' }
		= yield :head

	%body
		= row do
			= columns(medium: 12) do
				%nav#nav
					%a{href: '#'}=_'page_titles.About'
					=link_to organizations_path do
						=_'page_titles.Organizations'
					%a{href: '#'}=_'page_titles.Wiki'
					%a{href: '#'}=_'page_titles.ThinkTank'
		= row do
			= columns(medium: 12) do
				%h1#title=_'page_titles.home.Bike_Collective_Network'
				= yield :banner
		#content
			= yield
		%footer#page_footer
			= row do
				= columns(medium: 12)
